@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: "poppins regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppins light";
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "poppins bold";
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppins extra bold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
:root {
    --primary-color: #299d91;
    --primary-color-hover: #279489;
    --main: #f4f5f7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
