/* ! Forgot-password view style */
html {
    height: 100%;
}
body {
    background: var(--main);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 320px;
    height: fit-content;
}
h1 {
    color: var(--primary-color);
    font-family: "poppins regular";
    text-align: center;
    margin-bottom: 16px;
}
.bold {
    font-family: "poppins bold";
}
.forgot-password {
    display: block;
    text-align: center;
    font-family: "poppins bold";
    margin-bottom: 14px;
}
.container p {
    color: #666666;
    font: 15px "poppins regular";
    text-align: center;
    margin-bottom: 20px;
}
label,
a,
button,
input {
    display: block;
    font-family: "poppins regular";
}
input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: "poppins regular";
    margin-bottom: 16px;
}
input[type="email"] {
    padding-left: 10px;
    border: 1px solid #d0d5dd;
    margin-bottom: 18px;
}
input[type="submit"] {
    background: var(--primary-color);
    font-family: "poppins regular";
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: var(--primary-color-hover);
}

label {
    font-size: 15px;
    margin-bottom: 6px;
}

.container a {
    text-decoration: none;
    text-align: center;
    color: #878787;
    font-family: "poppins bold";
}
