/* ! Home page css */
html {
    height: 100%;
}
body {
    background: var(--main);
    height: 100%;
}
aside {
    width: 200px;
    height: 100%;
    background: #191919;
    padding: 15px 20px;
}
aside h1 {
    color: white;
    font: 24px "poppins regular";
    text-align: center;
    margin-bottom: 20px;
}
aside .bold {
    font-family: "poppins bold";
}
aside ul {
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
aside ul a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 9px 10px;
    font-family: "poppins regular";
    border-radius: 4px;
    color: #bababa;
}
aside ul a.active {
    color: white;
    background: var(--primary-color);
}
aside ul a:hover {
    color: white;
    background: var(--primary-color-hover);
}

.side-user a.logout {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 9px 10px;
    font-family: "poppins regular";
    border-radius: 4px;
    color: #bababa;
}

.side-user a.logout {
    background: #292929;
    color: #c6c6c6;
}
.side-user a.logout:hover {
    background: #252525;
}

.side-user .pfp {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
}
.side-user .pfp img {
    width: 100%;
}
.side-user .side-infos {
}
.side-user .side-infos span {
    font-family: "poppins bold";
    color: white;
}
.side-user .side-infos a {
    text-decoration: none;
    font-family: "poppins regular";
    color: #bababa;
}

.side-user hr {
    border: none; /* remove default */
    height: 1px; /* thickness */
    background-color: #2b2b2b; /* color you want */
    margin: 30px 0;
}

.side-user .card .avatar {
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    background: yellow;
}
.avatar img {
    width: 100%;
}
.side-user .card {
    display: flex;
}
