/* ! Home page css */
html {
    height: 100%;
}
body {
    background: var(--main);
    height: 100%;
}
aside {
    width:200px;
    height: 100%;
    background: #191919;
    padding: 15px 20px;
}
aside h1 {
    color: white;
    font: 24px "poppins regular";
    text-align: center;
    margin-bottom: 20px;
}
aside ul {
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
aside ul a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 9px 10px;
    font-family: "poppins regular";
    border-radius: 4px;
    color: #bababa;
}
aside ul a.active {
    color: white;
    background: var(--primary-color);
}
aside ul a:hover {
    color: white;
    background: var(--primary-color-hover);
}
