/* ! Login view style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: var(--main);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
.container {
    width: 320px;
    height: fit-content;

}

h1,
.forget-password,
.create-account {
    color: var(--primary-color);
    text-align: center;
}
h1 .bold {
    font-family: "poppins bold";
}
h1 {
    font-family: "poppins regular";
    margin-bottom: 32px;
}
label,
a,
button,
input {
    display: block;
    font-family: "poppins regular";
}
input[type="text"],
input[type="password"],
input[type="email"] {
    outline: none;
    border: 1px solid #d0d5dd;
    margin-bottom: 18px;
    padding-left: 10px;
}
input:not([type="checkbox"]),
.google {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
}
.google {
    background: #e4e7eb;
        margin-bottom: 25px;

}
.divider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 16px 0;
}
.divider hr {
    flex: 1;
    border: none;
    border-top: 1.7px solid #cacdd7;
}
.divider span {
    color: #999da3;
    font-family: "poppins regular";
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    margin-bottom: 6px;
}

label {
    margin-bottom: 6px;
    font-size: 15px;
}

.keep-me label,
.forgot-password label {
    margin-bottom: 0; /* or whatever override */
}
.submit {
    border: none;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
}
input[type="checkbox"] {
    accent-color: var(--primary-color);
    width: 20px;
}
.keep-me {
    display: flex;
    justify-content: baseline;
    gap: 10px;
    margin-bottom: 10px;
}
