/* ! Signup view style */
html {
    height: 100%;
}
body {
    background: var(--main);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 320px;
    height: fit-content;
}

h1 .bold {
    font-family: "poppins bold";
}
h1 {
    color: var(--primary-color);
    font-family: "poppins regular";
    margin-bottom: 10px;
}

.container h1,
.create-account {
    text-align: center;
}

label,
h1,
.create-account {
    display: block;
}
input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: "poppins regular";
    margin-bottom: 16px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    padding-left: 6px;
}
input[type="submit"] {
    background: var(--primary-color);
    font-family: "poppins regular";
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: var(--primary-color-hover);
}

.divider {
    display: flex;
    align-items: center;
    width: 85%;
    gap: 10px;
    margin: 0 auto 16px auto;
}
.divider hr {
    flex: 1;
    border: none;
    border-top: 1.7px solid #cacdd7;
}
.divider span {
    color: #999da3;
    font-family: "poppins regular";
}

.google {
    background: #e4e7eb;
    margin-bottom: 25px;
}

.google:hover {
     background: #d5d8db
}
.create-account {
    font: 16px "poppins bold";
}

label {
    font: 15px "poppins regular";
    margin-bottom: 6px;
}

.terms {
    color: #999da3;
    display: block;
    font: 12.5px "poppins regular";
    margin-bottom: 10px;
}
.terms a {
    text-decoration: none;
    color: var(--primary-color);
}

.google {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    background: #e4e7eb;
    margin-bottom: 25px;
    display: block;
    font-family: "poppins regular";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #4b4768;
    cursor: pointer;
}
.google img {
    width: 26px;
}
.have-account {
    display: block;
    color: #999da3;
    text-align: center;
    font: 14px "poppins regular";
}

.have-account a {
    text-decoration: none;
    font: 13px "poppins bold";
    color: var(--primary-color);
}

input[type="submit"] {
    color: white;
}
